.swiper {
  max-width: 1400px;
  height: 50vh;
  margin-bottom: 6rem;
}

.swiper-pagination-bullet-active {
  background-color: #593f2d !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(89, 63, 45, 0.7) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  position: relative;
}
