/* ABOUT SECTION */
.about-section__container {
  width: 100%;
  background-color: #f9f7f2;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  /* gap: 4rem; */
  margin: 15rem auto;
  max-width: 1500px;
}

.about-section__img-box {
  margin: 0 10rem;
}

.about-section__img {
  transform: scale(1.5);
  max-width: 30rem;
}

.about-section__content {
  height: 100%;
  width: 100%;
}

.about-section__content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
}

.about-section__content p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 2rem;
}
